<% provide(:title, "About Us") %>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="wrapper">
                <h1>About Us</h1>
            </div>
            <div class="wrapper">
                <h3>This website was developed by ASAC Citizen Science team</h3>
                <h3>Meet the developers:</h3>
                <h4>Abgier Avraha</h4>
                <h4>Alexander Rivaldy</h4>
                <h4>Christopher Allen</h4>
                <h4>Safira Nugroho</h4>
            </div>
        </div>
        
    </div>
</div>

