<% provide(:title, "") %>
<div class="center jumbotron">
  <div class="container">
    <%= image_tag("logo-2-white.png", :alt => "Citizen Science Logo", :class => "main-logo") %>
  
    <div class="wrapper">
      <h3>Welcome to the Citizen Science project!</h3>
      <h4>Sed ultricies nulla in consectetur tincidunt. Donec metus urna, auctor sed quam ut, ornare tincidunt dui. 
      Maecenas eget dignissim orci, at posuere ligula. Maecenas at tellus arcu. Nam tincidunt dignis
      sim mauris. Praesent elementum lacinia tempus. Nunc ante neque, ultrices non mattis sed.</h4>
    </div>
    
    <div class="wrapper">
      <%= image_tag("google-play-badge.png", class:"app-badge") %>
      <%= open_svg("app-store-badge.svg") %>
    </div>

  </div>
</div>

