<% provide(:title, "My Samples") %>

<div class="center">
    
    <div class="wrapper">
      <button class="btn-map <%= 'active' if params[:controller] == 'map' %>" id="change-map">Map View</button>
      <button class="btn-map" id="change-list">List View</button>
      <button class="btn-map" id="change-grid">Grid View</button>
    </div>
    
    <div class="wrapper">
        
        
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map">
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnBXNqDm5F3qY8NROuI4_-lPRmZ-KjCIk&libraries=places"
  type="text/javascript" ></script>
        </div>
    </div>
</div>
