<% provide(:title, "My Samples") %>

<div class="center">
    
    <h3>You have <%= @locations['data'].count %> samples.</h3>
    
    <div class="wrapper">
        <%= link_to '<button type="button">MAP VIEW</button>'.html_safe, 
            map_path %>
        <%= link_to '<button type="button">LIST VIEW</button>'.html_safe, 
            list_path %>
        <%= link_to '<button type="button">GRID VIEW</button>'.html_safe, 
            grid_path %>
    </div>


    <div class="wrapper">
        
        
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map">
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnBXNqDm5F3qY8NROuI4_-lPRmZ-KjCIk&libraries=places"
  type="text/javascript" ></script>
        </div>
    </div>
</div>
