

<% provide(:title, "My Samples") %>

<div class="center">
    
    <h1>QR Codes for sampling kits</h1>
    <div class="wrapper">
        <div id="list-view">
            <div class="container">
                
                <% @kits.each do |png| %>
                    <div class="row justify-content-center">
                        <%= image_tag png[0].to_data_url %>
                        <%= png[1] %>
                    </div>
                <% end %>
                
            </div>
        </div>
    </div>
</div>
