// Place all the styles related to the Samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
    width: 100%;
    min-height: 75vh;
}

#map img {
    max-width: none;
}
    
#grid-view {
    overflow: hidden;
}
#list-view .row {
    border: 1px solid black;
}
.row-h1 {
    float:left;
}

.grid, .box-list {
    text-align:center;
    display:float;
     float: left;
     border: 1px solid black;
     height: 500px;
}

.box-list {
    display:none;
}

.crop {
    min-width:500px;
    max-width:500px;
    height:200px;
    overflow: hidden;
}

.crop img {
    min-width:500px;
    max-width:500px;
    margin: -75px 0 0 -100px;
}

table {
    border-collapse: collapse;
    
}

table tr, table td
{
    border:1px solid black;
    
}
th, td
{
    text-align: right;
}

tr:nth-child(even) {
    background-color: #DCDCDC;
}