<header>
    <%= link_to image_tag("logo-2-white.png", :alt => "Citizen Science Logo", :class => "small-logo"), '#', id: "logo" %>
    <nav>
      <ul>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Admin", '#' %></li>
      </ul>
    </nav>
</header>